 
    body {
        font-family: 'Raleway Dots', cursive;
        background-color: black;
    }
    

    h1{
        color: white;
        margin-top: 20px;
        font-size: 40px;
        
    }

    li {
        display: inline;
        padding-bottom: px;
        font-size: 20px;
        
       
        
     } 

    a {
        text-decoration: none;
        margin-right: 10%; 
        color: white;
       
    } 

    
    .ulContainer {
        display: flex;
        /* border: white solid 2px; */ 
        justify-content: space-around;
        align-items: flex-end;
        width: 40%;
        margin-right: 40px;
        margin-bottom: 40px;

        font-size: 50px;
       
    }

    .navContainer {
        /* border: white solid 2px; */
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
      
       
    }
    
    .name {
        /* border: white solid 2px; */
        width: 40%;
        padding: 10px;
        margin: 10px;
        font-size: 20px;
    }

    .title {
        border: white solid 2px;
         
    }

    li:hover {
        border-bottom: thin solid white;
    }

  
   #mainPics img {
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
    }

   

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e3e3e3;
    height: 100px;
    padding-left: 95px;
    
}

