body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}

.navName {
    font-size: 3em;
    padding-left: .5em;
    padding-top: .1em;
}

.item {
    padding: 2em;
    font-size: 1.5em;
}

#mainPics img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


.linkWrapperMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}

/* bio--------------------------------- */

#bioContainer {
    display: flex;

}


.bioChildOne {
    flex-grow: 1;
    flex-basis: 100px;
}

.bioChildTwo {
    flex-grow: 2;
    padding-left: 10px;
}


.bioChildTwo {
    /* padding-left: 15px;
    margin-right: 100px; */
    margin-top: 70px;
}

.linkBioWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    margin-top: 3%;
}

#bioGif {
    border-radius: 50%;
}


/* --------------------Projects */

h2 {
    background-color: deepskyblue;
    width: 200px;
}

#longName {
    width: 250px;
}

.wholeThing {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: px;
    margin-left: 100px;
    /* border: 2px solid black; */
    }

.picContainer {
    margin-left: 45px;
    margin-bottom: 70px;

    /* border: 2px solid black; */
}

.moviePic {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.paraContainer {
    justify-content: flex-start;
    padding-left: 40px;
    font-weight: bold;
    /* border: 2px solid black; */
    width: 500px;
    padding-top: 25px;
    height: 300px;
}


#filmShortage {
    height: 100px;
    width: 140px;
}

.nameMobile {
    display: none;
}


.bold:after {
    content: ' \22EF' ' \22EF';
}

.bold:before {
    content: ' \22EF' ' \22EF';
}
.italic {
    font-style: italic;
    font-weight: bold;
}

.projectLink:hover {
    text-decoration: underline;
}

/* -------contact------------------- */

#shower {
    height: 50%;
    width: 100%;
}

.contactDiv {
    position: relative;

}

.contactListDiv {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.block {
    display: block;
    padding: 30px;
}

.contacts {
    background-color: deepskyblue;
}



/* -----------media queries 320-479--MOST SMART PHONES------------------------- */

/* NAVIGATION BAR---------------- */

@media (min-width: 320px) and (max-width: 479px) {
    .navName {
        font-size: 2em;
        margin: auto;
        font-weight: bold;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .item {
        display: inline;
        padding: 1em;
        font-size: 1em;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .navBar {
        margin: auto;
    }
}

/* ------------------contacts------------------- */

@media (min-width: 320px) and (max-width: 479px) {
    .block {
        padding: 10px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .contactListDiv {
        position: static;
        text-align: center;
        padding-right: 45px;
    }
}

/* ------------------bio--------------------------- */

@media (min-width: 320px) and (max-width: 479px) {
    #bioGif {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .bioChildTwo {
        margin-top: 20px;
    }
}

/* -----------------projects----------------------- */
@media (min-width: 320px) and (max-width: 479px) {
    .wholeThing {
        display: flex;
        margin: auto;
        margin-top: 70px;
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .picContainer {
        margin: auto;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .moviePic {
        height: 250px;
        width: 250px;
        border: black solid 3px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .paraContainer {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .nameMobile {
        display: block;
        text-align: center;
        background-color: deepskyblue;
        font-weight: bolder;
    }
}


/* ----------MEDIA QUERIES 768-1024 LANDSCAPE --TABLETS, IPADS */
/* looks good */



/* ----------MEDIA QUERIES 768-1024 PORTRAIT---TABLETS, IPADS */


/* NAV BAR */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .navName {
        font-size: 2em;
        margin: auto;
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .item {
        display: inline;
        padding: 1em;
        font-size: 1em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .navBar {
        margin: auto;
    }
}

/* BIO */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    #bioGif {
        display: ;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .bioChildTwo {
        margin-top: 20px;
    }
}
