 
    body {
        font-family: 'Raleway Dots', cursive;
        background-color: black;
    }
    

    h1{
        color: white;
        margin-top: 20px;
        font-size: 40px;
        margin-left: 15px;
        
    }

    li {
        display: inline;
        padding-bottom: px;
        font-size: 20px;
        
       
        
     } 

    a {
        text-decoration: none;
        margin-right: 10%; 
        color: white;
       
    } 

    
    .ulContainer {
        display: flex;
        border: white solid 2px; 
        justify-content: space-around;
        align-items: flex-end;
        width: 40%;
        margin-right: 40px;
        margin-bottom: 40px;
        font-size: 50px;
       
    }

    .navContainer {
        border: white solid 2px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 7px;
        
      
       
    }
    
    .name {
        /* border: white solid 2px; */
        width: 40%;
        padding: 10px;
        margin: 10px;
        font-size: 20px;
    }

    /* .title {
        border: white solid 2px;
         
    } */

   

  
   #mainPics img {
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
    }

   

.wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    color: #e3e3e3;
    padding-left: 70px;
    height: 5em;
    border: white 2px solid;
    margin-top: 2%;
}
 
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.2);
  }

  /* bio--------------------------------- */

  #whitePic {
      width:50%;
      height:45%;
  }

  p {
      color: white;
       width: 45%;
       height:60%;
   
  }

  #bio {

     display: flex;
     justify-content: space-around;
     align-items: center;
     border: white 2px solid;
    
     }